/* Write your code here: */
h1, h2 {
    color: blueviolet;  /*Group*/
}

.box > p {                  /*Rules*/
    color: firebrick;
}

.list li {
    color: blue;           /*Descendent*/
}

li.done {
    color: seagreen;      /*Chaining*/
}

ul p.done {
    font-size: 0.5rem;
}